---
layout: default
title: Home
---

<h2>Preamble</h2>

<p>The world is changing.  Much of what you see today will be gone or very
different tomorrow.  The window for recording what the biosphere was like before
excessive human impact, although closing for millennia, is now rapidly slamming
shut.  One of the greatest priorities for field research is to record (in
specimen, audiovisual, field note, and other archival formats) as much of the
remaining biocomplexity of the planet as possible for future generations.  Many
species and ecosystems will be documented for the last and often only time by a
single willing naturalist of our generation who was there and recorded it before
it disappeared.  As you see a reef bleach severely or a forest get logged, most
of what was not recorded from that area will remain unknowable forever.  Our
understanding of Earth, and our descendants’ ability to reassemble quasi-natural
ecosystems, will hinge on the archival record we leave.  Having the taxonomic
and field skills for making the most meaningful records, and capturing
information in the most complete, efficient, and useful manner possible is thus
paramount. Recording as much as you can, as well as you can, while you can, is a
good principal to go by.</p>


<i>Dr. Gustav Paulay</i>

<h2>Content of the workshop</h2>

<ul>
  <li> <a href="{{ site.baseurl }}introduction">Introduction: What are species?</li>
  <li> <a href="{{ site.baseurl }}collecting">Collecting and Curating marine organisms</a> </li>
  <li> <a href="{{ site.baseurl }}identifying">Identifying marine organisms</a> </li>
  <li> <a href="{{ site.baseurl }}barcoding">An introduction to DNA Barcoding</a> </li>
</ul>


<div class="posts">
  {% for post in paginator.posts %}
  <div class="post">
    <h1 class="post-title">
      <a href="{{ post.url }}">
        {{ post.title }}
      </a>
    </h1>

    <span class="post-date">{{ post.date | date_to_string }}</span>

    {{ post.content }}
  </div>
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ site.baseurl }}page{{paginator.next_page}}">Older</a>
  {% else %}
    <span class="pagination-item older">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="pagination-item newer" href="{{ site.baseurl }}">Newer</a>
    {% else %}
      <a class="pagination-item newer" href="{{ site.baseurl }}page{{paginator.previous_page}}">Newer</a>
    {% endif %}
  {% else %}
    <span class="pagination-item newer">Newer</span>
  {% endif %}
</div>
